{% extends '__base.html' %}
{% load staticfiles i18n %}

{% block title %} {% trans "User agreement" %} {% endblock %}

{% block page_header %} {% trans "User agreement" %} {% endblock %}

{% block content %}
<div class="container">
    {% blocktrans %}
    <h4>
        Егер сіз www.dayindal.com немесе dayindal.com интернет сайтына тіркелуді қаласаңыз онда төменде жазылған шарттардың барлығымен толықтай келісуге міндеттісіз.
    </h4>
    <h4>
        Шартта қолданылатын терминдер:
    </h4>
    <ul>
        <li>Сайт - www.dayindal.com немесе dayindal.com адресінде орналасқан интернет ресурс. </li>
        <li>Стар – сайтта берілген материалдарды тек сайт үстінде қолданып, есептеп немесе шешіп көруге мүмкіндік беретін шартты белгі.</li>
        <li>Тест – сайтта берілген, құны стармен есептелетін сұрақтар және/немесе есептер жиынтығы. </li>
        <li>Юзер – осы келісіммен келіскен және сайтта өз қолданушы атымен және құпия сөзімен тіркелген қолданушы. </li>
        <li>Баланс – тек сайтта көрсетілген жолмен алынған стардың юзердегі мөлшері.</li>
    </ul>
    <h4>Шарт.</h4>
    <ul>
        <li>Юзер сайтта берілген тесттерді көруге, шешімін белгілеуге құқық алуы үшін өз балансындағы старды қолдануға міндетті.</li>
        <li>Юзер сайтты тек тест көру және шешімін белгілеу мақсатында қолданады.</li>
        <li>Юзер немесе кез-келген азамат немесе ұйым сайт иесіне немесе сайт администрациясына еш уақытта талап, тілек, шағым қоя алмайды. </li>
        <li>Стар алу тек сайтта көрсетілген жолмен алынады және тек сайтта көрсетілген бағытта жұмсалады.</li>
        <li>Алынған стар мөлшері юзерге старды тек сайтта қолдануға мүмкіндік береді.</li>
        <li>Стар балансы немесе кез-келген стар мөлшері юзерге немесе кез-келген азаматқа немесе ұйымға ақшалай немесе басқа да
            материалдық жолмен еш уақытта қайтарылмайды.</li>
        <li>Кез-келген техникалық себептерге байланысты болған келіспеушілік үшін сайт иесі немесе сайт администрациясы жауап бермейді.</li>
        <li>Юзер тарапынан немесе басқа да себептермен болған қателер үшін сайт иесі немесе сайт администрациясы жауап бермейді.</li>
        <li>Осы қолданушы келісімі сайтта жарияланады және кез-келген өзгеріс болған жағдайда сайтта өзгерген мәтіні жарияланады.
            Өзгерген келісіммен келіспеген қолданушы сайтты қолданудан және балансын қолданудан ерікті түрде бас тартқан болып есептеледі. </li>
        <li>Юзер балансы 30000 стардан аспауы керек.</li>
        <li>Балансында стар мөлшері 0 болған және 3 ай бойы еш сайтты қолданбаған юзерді сайт иесі жоюға құқылы. </li>
        <li>Сайттағы барлық мәтіндік және бейнелік материалдар мен олардың электронды нұсқалары сайт иесінің зияткерлік меншігі болып
            табылады және тек сайтта ғана қолдануға рұқсат етіледі. Кез-келген жолмен олардың копиясының алынуы және/немесе оларды сайттан
            тыс жерде қолданылуы заңмен қудаланады. Зияткерлік меншік құқығын бұзған тұлға Заңмен қудаланады және, авторлық және сабақтас
            құқытарды бұзғаны үшін заң алдында жауапқа тартылады.
        </li>
    </ul>
    {% endblocktrans %}
</div>
{% endblock %}
